---
layout: default
---

<div class="home">
	
	<h1 class="page-heading">Resource repositories</h1>
	
	<p>Welcome to The Register-Guard home for web-related tips, tricks, information and resources.</p>
	<p>Below, you will find a set of pages designed to help you tell stories online. Whether you're here to learn about Storify or data visualization, we're glad you stopped by.</p>
	
	<div id="masonry_container">
		{% for repo in site.github.public_repositories %}
			{% if repo.name != "rgnewsroom.github.io" %}
				<a class="post-link" href="{{ repo.html_url }}/wiki">
					<div class="masonry_item">
						<h5>{{ repo.name }}</h5>
						<p class="newsroom_des">{{ repo.description }}</p>
						<p class="newsroom_up">Updated: {{ repo.updated_at | date: "%m/%d/%Y"}}</p>
					</div><!-- /.masonry_item -->
				</a>
			{% endif %}
		{% endfor %}
	</div><!-- /#masonry_container -->
	
</div><!-- /.home -->
