---
layout: page
title: repos
permalink: /repos/
---

<div class="home">

	<p>Below is a collection of Github repositories associated with RG Newsroom information.</p>

	<div id="masonry_container">
		{% for repo in site.github.public_repositories %}
			{% if repo.name != "rgnewsroom.github.io" %}
				<a class="post-link" href="{{ repo.html_url }}">
					<div class="masonry_item">
						<h4>{{ repo.name }}</h4>
						<p class="newsroom_des">{{ repo.description }}</p>
						<p class="newsroom_up">Updated: {{ repo.updated_at | date: "%m/%d/%Y"}}</p>
					</div><!-- /.masonry_item -->
				</a>
			{% endif %}
		{% endfor %}
	</div><!-- /#masonry_container -->

</div><!-- /.home -->
